@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BMono';
  src:  url('/public/fonts/b-mono.woff2') format('woff2'),
}

@font-face {
  font-family: 'FKGRNeue';
  src:  url('/public/fonts/fk-gr-neue.woff2') format('woff2'),
}

@font-face {
  font-family: 'FKGR';
  src:  url('/public/fonts/fk-gr.woff2') format('woff2'),
}

html {
 
}

body {
  height: auto;
}

#root {

}